{% extends 'list_buku.html' %}

{% block judul %} Ubah Data Buku {% endblock %}

{% block JudulKonten %}
<h3 class="box-title"> Ubah Data Buku </h3>
{% endblock %}

{% block konten%}
<form action="{{url_for('proses_ubah_buku')}}" method="POST">
    {% for row in hasil %}
        <div class="form-group">
            <label>ID Buku</label>
            <input type="hidden" name="id_buku_ori" value="{{ row.0 }}">
            <input type="text" name="id_buku" class="form-control"  value="{{row.0}}">
        </div>
        <div class="form-group">
            <label>Judul Buku</label>
            <input type="text" name="judul_buku" class="form-control"  value="{{row.1}}">
        </div>
        <div class="form-group">
            <label>Pengarang</label>
            <input type="text" name="pengarang" class="form-control"  value="{{row.2}}">
        </div>
        <div class="form-group">
            <label>Penerbit</label>
            <input type="text" name="penerbit" class="form-control"  value="{{row.3}}">
        </div>
    {% endfor %}

    <div class="box-footer">
        <button type="reset" class="btn btn-default"> Cancel </button>
        <button type="submit" class="btn btn-primary pull-right"> Submit </button>
    </div>
</form>
{% endblock %}

